<div class="about-container">

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <!-- <i class="material-icons">filter_drama</i> -->
        Author
      </div>
      <div class="collapsible-body">

        <ul class="collection">
          <li class="collection-item avatar">
            <img src="/assets/img/author.jpg" alt="" class="circle responsive-img">
            <span class="title"></span>
            <p>Copyright © 2017 {{author}} <br> All rights reserved. Design and Developed by {{author}}
            </p>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <!-- <i class="material-icons">place</i> -->
        About
      </div>
      <div class="collapsible-body">
        <ul>
          <li><a target="_blank" href="#!">Blog</a></li>
          <li><a target="_blank" href="https://github.com/utilizatorvalid/cubical-calendar">Docs</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <!-- <i class="material-icons">place</i> -->
        Connect
      </div>
      <div class="collapsible-body">
        <ul>
          <li><a target="_blank" href="https://github.com/utilizatorvalid/cubical-calendar">Community</a></li>
          <li><a target="_blank" href="https://github.com/utilizatorvalid/cubical-calendar">Subscribe</a></li>
          <li><a target="_blank" href="mailto:vasilegroza3@gmail.com">Email</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <!-- <i class="material-icons">place</i> -->
        Contact
      </div>
      <div class="collapsible-body">
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/vasile.groza.3">Facebook</a></li>
          <li><a target="_blank" href="https://github.com/utilizatorvalid/cubical-calendar">Github</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>