<div class="about-container">

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <!-- <i class="material-icons">filter_drama</i> -->
        Author
      </div>
      <div class="collapsible-body">
         <!-- <img class="materialize-logo" src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/materialize-teal.png?3602604866228935180" 
          alt=""> -->
        Copyright © 2017 {{author}} All rights reserved. Design and Developed by {{author}}
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <!-- <i class="material-icons">place</i> -->
        About
      </div>
      <div class="collapsible-body">
        <ul>
          <li><a href="#!">Blog</a></li>
          <li><a href="#!">Pricing</a></li>
          <li><a href="#!">Docs</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <!-- <i class="material-icons">place</i> -->
        Connect
      </div>
      <div class="collapsible-body">
        <ul>
          <li><a href="#!">Community</a></li>
          <li><a href="#!">Subscribe</a></li>
          <li><a href="#!">Email</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <!-- <i class="material-icons">place</i> -->
        Contact
      </div>
      <div class="collapsible-body">
        <ul>
          <li><a href="#!">Twitter</a></li>
          <li><a href="#!">Facebook</a></li>
          <li><a href="#!">Github</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>