$size: 450px; //cube size
$face_color :#e8eaf6 ;

.space3d {
    perspective: 1000px;
    margin-top: 100px;
	width: $size;
	height: $size;
	// text-align: center;
	display: inline-block;
}
.cube {
  position: relative;
  width: inherit;
  height: inherit;
  
  transform-style: preserve-3d;
  transition: transform 0.8s;
}
.cube-face{
    width: inherit;
    height: inherit;
    position: absolute;
    background: $face_color;
    opacity: 0.95;
    border-style: solid;
    border-width: 2px;
}
.cube-face-front{
    // background: yellow;
    transform: translate3d(0, 0, $size/2); 
}
.cube-face-back{
    // background: orange;
    transform: rotateY(180deg) translate3d(0,0, $size/2)
}
.cube-face-left {
    // background: green;
    transform: rotateY(-90deg) translate3d(0, 0, $size/2);
}
.cube-face-right {
    // background: magenta;
    transform: rotateY(90deg) translate3d(0, 0, $size/2);
}
.cube-face-top {
    // background: blue;
    transform: rotateX(90deg) translate3d(0, 0, $size/2);
}
.cube-face-bottom {
    // background: red;
    transform: rotateX(-90deg) translate3d(0, 0, $size/2);
}
#radio-back:checked ~ .space3d .cube{
    transform: rotateY(180deg)
}
#radio-left:checked ~ .space3d .cube {
    transform: rotateY(90deg);
} 
#radio-right:checked ~ .space3d .cube {
    transform: rotateY(-90deg);
}
#radio-top:checked ~ .space3d .cube {
    transform: rotateX(-90deg);
}  
#radio-bottom:checked ~ .space3d .cube {
    transform: rotateX(90deg);
}
.hidden{
    display: none;
}
.face-component{
    width: inherit;
}