<div *ngIf="event" class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="/assets/img/office.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">{{event.title}}<i class="material-icons right">more_vert</i></span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{event.title}}<i class="material-icons right">close</i></span>
    <p>{{event.description}}</p>
  </div>
  <div class="card-action">
    <div class="right-align">
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-small red">
            <i class="material-icons">more_vert</i>
          </a>
        <ul>
          <li><a class="btn-floating btn-small red"><i class="material-icons" (click)="deleteEvent()">delete</i></a></li>
          <li><a class="btn-floating btn-small green"><i class="material-icons"(click)="editEvent()">edit</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!event">
  Empty
</div>