<footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{{title}}</h5>
          <p class="grey-text text-lighten-4">Organise your calendar ^_^</p>
        </div>
        </div>
    </div>
</footer>
    <div class="container">
      <div class="row">
        <div class="col s12 m6 offset-m3">
            <app-cube></app-cube>
        </div>
      </div>
    
    </div>
   
  <!-- <div class="container">
    
      <div  id ="cube_container hoverable" class="valign-wrapper row">
        
        <app-cube></app-cube>
      </div>
            
  </div>  -->
